



/* URL FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*THEME COLOR: 139487 86C6F4 FFF1CE D29D2B */

a:hover {background-color: #FFF1CE;}
h1 {font-family:Shizuru, sans-serif; text-align: center; }
body {background-color: #139487;}

nav{ font-family: Roboto Mono; font-size: 12px;
	float: right;
	background-color: #FFF1CE;
	
}
