
/*5. Apply an external styling to a paragraph tag.*/
.yellow-text{color:yellow ;}

/*6. Change the font-family and the font size of all elements using the universal selector. */
*{font-family: Roboto;}

/*7. Change the font-size of h1 tags using a type selector. */
h1{font-size: 42px;}

/*8. Change the text to all uppercase letters for h2 tags using an id selector. */
#uppercase{ text-transform: uppercase;}

/*9. Change the background colors of the languages to be learn list items using a class selectors.*/
.green-background{background-color: lightgreen;}

/* 10. Change the border of the tools to be used list items using a attribute selectors.*/
[class|= blue] {border-style: solid; border-color: blue;}

/*11. Change the list style type of the other things to be learned list using an adjacent sibling selector */
img + ol {list-style: none;}

/*12. Change the dimensions of the image tag using a descendant selector. */
div img{ height: 100px; width: 100px; border-radius: 50%;}

/*13. Change the alignment of the last paragraph using a (general sibling selector). */
div ~ p{text-align: center;}

/*14. Change the letter spacing of the other things to be learned list items using a child selector. */
div > ol{letter-spacing: 5px;}

/* */

